
# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
IAOuef/.vs/IAOuef/FileContentIndex/0e9dc772-339e-4c69-9c41-c6bcc72c9da5.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/44df4d4b-f9e2-43d0-94c9-6e39d834c610.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/4fc915da-bc9b-41f9-b663-287dd5ee2c1d.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/6582314a-7d6a-47b9-882b-c961ffe7a9f9.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/c8f87763-4014-469a-ac61-5fb5d3724aba.vsidx
IAOuef/.vs/IAOuef/v17/.suo
IAOuef/IA/obj/IA.csproj.nuget.dgspec.json
IAOuef/IA/obj/IA.csproj.nuget.g.props
IAOuef/IA/obj/project.assets.json
IAOuef/IA/obj/project.nuget.cache
IAOuef/IA/obj/Release/net6.0/IA.AssemblyInfo.cs
IAOuef/IA/obj/Release/net6.0/IA.AssemblyInfoInputs.cache
IAOuef/IA/obj/Release/net6.0/IA.assets.cache
IAOuef/IA/obj/Release/net6.0/IA.GeneratedMSBuildEditorConfig.editorconfig
IAOuef/.vs/IAOuef/FileContentIndex/0e9dc772-339e-4c69-9c41-c6bcc72c9da5.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/44df4d4b-f9e2-43d0-94c9-6e39d834c610.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/4fc915da-bc9b-41f9-b663-287dd5ee2c1d.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/6582314a-7d6a-47b9-882b-c961ffe7a9f9.vsidx
IAOuef/.vs/IAOuef/FileContentIndex/c8f87763-4014-469a-ac61-5fb5d3724aba.vsidx
IAOuef/.vs/IAOuef/v17/.suo
IAOuef/IA/obj/IA.csproj.nuget.dgspec.json
IAOuef/IA/obj/IA.csproj.nuget.g.props
IAOuef/IA/obj/project.assets.json
IAOuef/IA/obj/project.nuget.cache
IAOuef/IA/obj/Release/net6.0/IA.AssemblyInfo.cs
IAOuef/IA/obj/Release/net6.0/IA.AssemblyInfoInputs.cache
IAOuef/IA/obj/Release/net6.0/IA.assets.cache
IAOuef/IA/obj/Release/net6.0/IA.GeneratedMSBuildEditorConfig.editorconfig
